body{
    background-color: white;
}

.main-nav{
    background-color: lavender;
    width: 80%;
    margin: 0 auto;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}

.main-nav h3{
    float: left;
    margin-left: 20px;

    color: black;
}

a{
    text-decoration: none;
}

.single-post-container{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background-color: lavender;
    margin-top: 20px; 
    border-radius: 5px; 
}

.single-post-desc{
    width: 50%;
    height: auto;
    float: left;
    margin-top: 60px;
    text-align: center;
    
}

#single-title h2{ 
    margin-top: 20px;
    font-size: 52px;
}

#single-brand {
    font-size: 20px;
}

#single-body{
    margin-top: 10px; 
}

#user_show {
    font-size: 18px;    
}

.single-img-container{
    width: 40%;
    height: auto;
    float: left;
    margin-top: 60px;
    margin-left: 30px; 
    border: 2px solid rgb(212, 212, 250);
}

img{
    width: auto;
    height: 90%;
}

.comments{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

textarea{
    width: 40%;
    height: 120px;
    margin-top: 20px;
    border-radius: 3px;
    border: 2px solid black;
}

.add-comment{
    margin: 0 auto;
}

.comment-box{
    width: 100%;
    height: auto;
    padding-top: 3px;
    padding-left: 20px;
    margin-top: 10px; 
    background-color: lavender;
    border-radius: 5px;
}

.comment-body{
    font-size: 1px;
}

.comment-date{
    font-size: 14px;
}